// src/shared/styles/global.scss

@import './variables.scss';

// RESET & BASE

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: $text-color;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// TYPOGRAPHY

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
  color: $text-dark;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// LISTS

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// BUTTONS & INPUTS

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}


// IMAGES

img {
  max-width: 100%;
  height: auto;
  display: block;
}


// CONTAINER

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;

  @media (max-width: 767px) {
    padding: 0 1rem;
  }
}